*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    color: rgb(159, 159, 159);
    font-family: 'Montserrat', sans-serif;
}
h4, h3{
    color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    height: calc( 100vh - 80px);
    
}

 a{
    text-decoration:  none;
    color: white;
    
   
}
main ul li{
    list-style-type: none;
   
    }

    /* menù laterale sx */
main #menu{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:flex-start;
    background-color: #000000;
    width: 200px;
    padding: 0 10px;
    height:calc( 100vh - 80px);
}
#logoxl{
    object-fit: cover;
    margin: 20px 0;
   
}
main #menu #menu-sx li a {
    
    display: flex;
    font-size: 14px;
    align-items:center;
    justify-content:flex-start;
    align-content: flex-start;
    color: rgb(159, 159, 159);
    
       
}
main #menu #menu-sx li {
    display: flex;
    justify-items: flex-start;
   
    
}


 main #menu ul li a img{
    width: 30px;
    height: 30px;
   
}

#bottom-menu{
    height: 180px;
}




            /* playlist */

#playlist{
    height: 300px;
    overflow-y: auto;
}

#playlist-text{
    padding-top: 20px;
}
#action-playlist{
    margin: 15px 0;
}
#plus-playlist{
color: black;
padding: 5px;
background-color: rgb(179, 179, 179);
text-align: center;
font-size: 20px;
width: 30px;
height: 30px;
}

#crea-play{
    margin-left: 5px;
   
}
#playlist li{
    margin-bottom: 10px;
}




#installer{
    font-size: 15px;
    padding: 10px 0;
   
}

#profilo-utente{
    color: white;
    font-size: 15px;
    padding: 10px 0;
    border-top: 1px solid rgb(179, 179, 179) ;
}
#profilo-utente #user{
background-color:rgb(179, 179, 179) ;
border-radius: 50%;
padding: 5px;
}

    /* intestazione di upgrade */

#upgrade{
    
    height: 80px;
    background-color: #080b12ee;
    display: flex;
    justify-content: right;
    
    
}

#link-upgrade{
    color: white;
    padding: 10px;
    border: 1px solid white ;
    border-radius: 20px;
    margin: 20px;
    font-size: 12px;
    position: fixed;
}

#corpo-centrale{
    width: calc( 100vw - 200px);
    
    background-color: #141922;
    overflow-y: auto;
    height: 100%;
}


#intestazione{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    align-content: center;

}

#contenuto-principale{
    padding: 50px  20px ;
}

#contenuto-principale img{
    width: 150px;
    height: 150px;
}

.copertine-brani{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-content: space-between;
    flex-wrap: wrap;
}

#contenuto-principale h3{
    margin: 20px 0;
}

.brano{
    text-align: center;
}

.cerchio{
    border-radius: 50%;
}




        /* footer */
footer{
    display: flex;
    justify-content: space-around;
    gap: 250px;;
    height: 80px;
    background-color: #282828;
    align-items: center;
}

footer img{
   width: 50px;
   height: 50px;
   
   
   
}

#brano-play{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    gap: 18px;
    
}

#brano-play div{
    font-size: 12px;
    
}

#riproduzione-brani {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
   

}

.barra-brano{
    border: 2px solid grey;
    border-radius: 2px;
    display: inline-block;
    width: 400px ;
    height: 2px;
}

.timing{

    margin: 0 5px;
    color: white;
    font-size: 10px;
}

.barra-volume{
    border: 2px solid grey;
    border-radius: 2px;
    display: inline-block;
    width: 80px ;
    height: 2px;
}




