*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    color: rgb(159, 159, 159);
    font-family: 'Montserrat', sans-serif;
}
h4, h3{
    color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    height: calc( 100vh - 80px);
    
}

 a{
    text-decoration:  none;
    color: rgb(159, 159, 159);
    
    
   
}

a:hover{
    color: white;
}

main ul li{
    list-style-type: none;
   
    }

    /* menù laterale sx */
main #menu{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:flex-start;
    background-color: #000000;
    width: 200px;
    padding: 0 10px;
    height:calc( 100vh - 80px );
    z-index: 200;
}

#item-menu{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:flex-start;
    height: 100%;
}
#logoxl{
    object-fit: cover;
    margin: 20px 0;
   
}

#logosmall{
    display: none;
}

main #menu #menu-sx li a {
    
    display: flex;
    font-size: 14px;
    align-items:center;
    justify-content:flex-start;
    align-content: flex-start;
    padding: 5px;
    
    
       
}
main #menu #menu-sx li {
    display: flex;
    justify-items: flex-start;
   
    
}


 main #menu ul li a img{
    width: 30px;
    height: 30px;
    
   
}

#home{
    border-left: 3px solid rgb(11, 213, 11);
    border-radius: 2px;
    
}
#home a{
    color: white;
}

#bottom-menu{
    min-height: 50px;
}




            /* playlist */

#playlist{
    height: 80%;
    overflow-y: auto;
}

#playlist-text{
    padding-top: 20px;
}
#action-playlist{
    margin: 15px 0;
}
#plus-playlist{
color: black;
padding: 5px;
background-color: rgb(179, 179, 179);
text-align: center;
font-size: 20px;
width: 30px;
height: 30px;
}

#crea-play{
    margin-left: 5px;
   
}
#playlist li{
    margin-bottom: 10px;
}




#installer{
    font-size: 15px;
    padding: 10px 0;
    
   
}

#profilo-utente{
    color: white;
    font-size: 15px;
    padding: 10px 0;
    border-top: 1px solid rgb(179, 179, 179) ;
}
#profilo-utente #user{
background-color:rgb(179, 179, 179) ;
border-radius: 50%;
padding: 5px;
}

    /* intestazione di upgrade */

#upgrade{
    
    height: 80px;
    background-color: #080b12ee;
    display: flex;
    justify-content: right;
    
    
}

#link-upgrade{
    color: white;
    padding: 10px;
    border: 1px solid white ;
    border-radius: 20px;
    margin: 20px;
    font-size: 12px;
    position: fixed;
    z-index: 600;
    
}

#link-upgrade:hover{
    scale: 1.2;
}

#corpo-centrale{
    width: calc( 100% - 200px);
    
    background-color: #141922;
    overflow-y: auto;
    height: 100%;
}


#intestazione{
    margin: 20px 0;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

}

#evidenza{
    border-bottom: 2px solid rgb(11, 213, 11);
    border-radius: 2px;
    padding-bottom: 2px;
    color: white;
}

#contenuto-principale{
    padding: 50px  20px ;
}

#contenuto-principale img{
    width: 200px;
    height: 200px;
    
}


.cover{
    position: relative;
}
.copertine-brani{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-content: space-between;
    flex-wrap: wrap;
    font-size: 15px;
}

#contenuto-principale h3{
    margin: 20px 0;
    
}

.brano{
    text-align: center;
    
}
.brano-hover{
    position: absolute;
    right: 75px;
    top: 75px;
    font-size: 50px;
    color: white;
    display: none;
    
}
.cover:hover .brano-hover{
    display: block;
   
}
.brano:hover .cover{
    filter: opacity(0.8);
}








.cerchio{
    border-radius: 50%;
}




        /* footer */
footer{
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    background-color: #282828;
    align-items: center;
    z-index: 500;
    
    position: relative;
    
    
}

footer img{
   width: 50px;
   height: 50px;
   
   
   
}
footer #riproduzione-brani a{
    color: white;
}

#brano-play{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    gap: 18px;
    margin: 0 10px;
   
    
}

#brano-play div{
    font-size: 12px;
    
}


#riproduzione-brani {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom:10px;
    font-size: 20px;
   

}
#riproduzione-brani:hover #ingrandimento-play{
    scale: 1.8;
}

.barra-brano{
    border: 2px solid grey;
    border-radius: 2px;
    display: inline-block;
    width: 400px ;
    height: 2px;
    position: relative;
}

#timing{
    display: flex;
    align-items: center;
    
}

#timing > span {
    margin: 0 10px;
    color: white;
    font-size: 10px;
}


.barra-volume{
    border: 2px solid grey;
    border-radius: 2px;
    display: inline-block;
    width: 100px ;
    height: 2px;
    position: relative;
}
.barra-brano > div{
    width: 80px;
    height: 2px;
    border: 2px solid rgb(231, 229, 229);
    border-radius: 2px;
    position: absolute;
    left:-2px;
    top:-2px;
    
}
.barra-brano:hover div{
    border: 2px solid rgb(11, 213, 11);
}

.barra-volume > div{
    width: 40px;
    height: 2px;
    border: 2px solid rgb(231, 229, 229);
    border-radius: 2px;
    position: absolute;
    left:-2px;
    top:-2px;
    
}
.barra-volume:hover div{
    border: 2px solid rgb(11, 213, 11);
}

#regolazioni-dx{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 10px;
}
#regolazioni-dx a{
    color: white;
}


        /* mediaquery */
@media screen and ( max-width: 1200px) {
   
    body{
        font-size: 0.8em;
    }
   
    #contenuto-principale img{
        width: 150px;
        height: 150px;
        
    }

   .brano h4{
    font-size: 0.7em;
   }
   .brano span {
    font-size: 0.6em;
   }

    
    
    .brano-hover{
       
        right: 40px;
        top: 40px;
        font-size: 25px;
        
        
    }

   
    
}

@media screen and ( max-width: 568px) {
   
   
    
    footer{
        flex-wrap: nowrap;
        
        
    }
    .barra-brano{
        width: 100px;
    }
    
    
    .barra-brano > div{
        width: 25px;
    }

    #riproduzione-brani{
        gap: 15px;
        font-size: 16px;
    }

    #regolazioni-dx{
        flex-wrap: nowrap;
    }
    
}


@media screen and ( max-width: 480px) {
   
     #intestazione {
       
        width: 100%;
        font-size: 0.9em;
      }

      
    
      main #menu{
          width: 50px;
          padding: 2px;
      }
      
      #logoxl{
        display: none;
       
        }
    
    #logosmall{
        width: 30px;
        height: 30px;
        margin: 20px 5px;
        display: block;
    }

    #home{
        border-left:none;
       
        
    }
    
      #menu-sx  span{
          display: none;
      }


      #list-play{
        display: none;
      }
      #playlist{
        display: none;
      }


      #bottom-menu span {
        display: none;
      }

      #profilo-utente{
          border-top: none;
          padding: 10px;
      }

      #installer{
        margin: 0 15px;
      }

      #corpo-centrale{
        width: calc( 100vw - 60px);
      }

    
      footer{
        flex-wrap: nowrap;
        
        
    }
    .barra-brano{
        width: 100px;
    }
    
    
    .barra-brano > div{
        width: 25px;
    }

    #riproduzione-brani{
        gap: 15px;
        font-size: 16px;
    }

    #regolazioni-dx{
        flex-wrap: nowrap;
    }
    
}
