*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    color: rgb(159, 159, 159);
    font-family: 'Montserrat', sans-serif;
}
h4{
    color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    height: calc( 100vh - 80px);
    
}

 a{
    text-decoration:  none;
    color: white;
    
   
}
main ul li{
    list-style-type: none;
   
    }

    /* menù laterale sx */
main nav{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:flex-start;
    background-color: #000000;
    width: 200px;
    padding: 0 10px;
}
#logoxl{
    object-fit: cover;
    margin: 20px 0;
   
}
main nav #menu-sx li a {
    
    display: flex;
    font-size: 14px;
    align-items:center;
    justify-content:flex-start;
    align-content: flex-start;
    color: rgb(159, 159, 159);
    
       
}
main nav #menu-sx li {
    display: flex;
    justify-items: flex-start;
   
    
}


 main nav ul li a img{
    width: 30px;
    height: 30px;
   
}




            /* playlist */

#playlist-text{
    padding-top: 20px;
}
#action-playlist{
    margin: 15px 0;
}
#plus-playlist{
color: black;
padding: 5px;
background-color: rgb(179, 179, 179);
text-align: center;
font-size: 20px;
width: 30px;
height: 30px;
}

#crea-play{
    margin-left: 5px;
   
}
#playlist li{
    margin-bottom: 10px;
}




#installer{
    font-size: 15px;
    padding: 10px 0;
   
}

#profilo-utente{
    color: white;
    font-size: 15px;
    padding: 10px 0;
    border-top: 1px solid rgb(179, 179, 179) ;
}
#profilo-utente #user{
background-color:rgb(179, 179, 179) ;
border-radius: 50%;
padding: 5px;
}

    /* intestazione di upgrade */

#upgrade{
    
    height: 80px;
    background-color: #080b12ee;
    display: flex;
    justify-content: right;
    
    
}

#link-upgrade{
    color: white;
    padding: 10px;
    border: 1px solid white ;
    border-radius: 20px;
    margin: 20px;
    font-size: 12px;
    position: fixed;
}

#corpo-centrale{
    width: calc( 100vw - 200px);
    
    background-color: #141922;
}




        /* footer */
footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #282828;
}

footer img{
   width: 50px;
   height: 50px;
   margin-right: -100px;
   
   
}

/* #brano-play{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    gap: 10px;
    
} */

#brano-play div{
    font-size: 12px;
    
}

/* #riproduzione-brani {
    display: flex;
    justify-content: space-between;

} */



